{% extends 'base.html.twig' %}

{% block title %}Formulaire de commentaire sur un événement{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">

                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if app.user %}
                    <h1 class = "mb-4">{{ app.user.name }} commentez l'événement : {{ event.name }}</h1>
                {% endif %}


                {{ form_start (form, {attr: {'novalidate': 'novalidate'}}) }} 
                {{ form_row(form.content, {'id': 'text-box'}) }}
                {{ form_end (form)}}
                    <div class="progress-wrapper">
                    <div class="progress-bar"> </div>

                
            </div>  
        </div>
    </div>

{% endblock %}
